/output_dir/*
/log/*
!/output_dir/*.pdf

# Remove the contents in the /tcl_scripts/output_dir/
/tcl_scripts/output_dir/*
!/tcl_scripts/

# Mr Developer
.mr.developer.cfg
.project
*.pydevproject
.settings
*DS_Store
*__pycashe__
.ropeproject
*.log
*.pot
*.kafe
*.vscode
*.Xil

